<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/parallax.css">
    <title>Document</title>
</head>
<body>
    <div class="wraper">
        <section class="parallax">
            <div class="parallax__body">
                <div class="pallarax__conteiner _conteiner">
                    <div class="pallarax__labal">Digital Hills</div>
                    <h1 class="pallarax__title">Студия дизайна</h1>
                </div>
                <div class="pallarax__items items-pallarax">
                    <div class="image__parallax_item">
                        <div class="image__parallax_cloud"></div>
                    </div>
                    <div class="image__parallax_item">
                        <div class="image__parallax_mountains"></div>
                    </div>
                    <div class="image__parallax_item">
                        <div class="image__parallax_human"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="content__container _conteiner">
                <h1 class="content__title"> Как же у нас все устроенно ?</h1> <br>
                <!-- <h2 class="content__title">, </h2> -->
             <p class="lim300">Наша студия занимается 2 направлениями в дизайне 
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quos minus id fuga tenetur tempora reiciendis, consequuntur labore maxime accusamus debitis quod modi dolores dolore, suscipit quasi hic cupiditate temporibus.
             </p>
                <div class="content__text">
                        <div class="card">
                          <div class="front">
                              <img src="https://mykaleidoscope.ru/uploads/posts/2020-02/1581025277_1-1.jpg" width="350" >
                          </div>
                          <div class="back"><span>
                              <div class="card__title">
                                  Ланшафт
                              </div>
                              <div class="card__text">
                                Ландшафт – это определенный природно-территориальный комплекс, для которого характерно однотипное сочетание климатических условий, рельефа, почв, животного и растительного мира.
                              </div>
                              <div class="card__submit"></div>
                          </span></div>
                        </div>
                    <p> Наша компания занимается созданием комфортного
                        пространства для жизни, работы и отдыха.
                         Ландшафтный дизайн для нас не просто фраза, это наш образ жизни.
                          Мы вкладываем свою душу в создание нового сада, и он получается красивым и
                           гармоничным, мы вкладываем свои знания и опыт, и ваш ландшафт получается уютным 
                           и практичным. А так же мы заботимся и о сохранении вашего сада в первозданном виде. 
                           Мы делаем всё, чтобы вы обрели ландшафт своей мечты! </p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, asperiores eveniet. Iusto optio repudiandae sed impedit earum perferendis harum, repellendus doloribus rerum temporibus omnis corrupti ea, voluptas quisquam voluptatibus! Recusandae!</p>
                    <div class="card__submit">
                        <a href="" class="btn">Подробнее</a>
                    </div>
                    <div class="card">
                        <div class="front">
                            <img src="https://im0-tub-ru.yandex.net/i?id=acfb0aca45ab295a99d93ee455571cb9&n=13" width="350" >
                        </div>
                        <div class="back"><span>
                            <div class="card__title">
                                Интерьер
                            </div>
                            <div class="card__text">
                                Это внутреннее пространство здания, оформленное архитектурно и художественно и обеспечивающее человеку хорошие условия жизнедеятельности
                            </div>
                           
                        </span></div>

                      </div>
                      <p>При разработке дизайна придерживаемся правилам мерчандайзинга – правильной организации пространства. Мы учитываем конфигурацию пространства, колонны, перегородки, коммуникации, обращаем внимание на стены и потолок, но главное, разрабатываем любой сложности оборудование, которое в дальнейшей работе производим сами. Также мы можем предложить разработанные ранее коллекции.</p>
                </div>
                <div class="card__submit">
                    <a href="" class="btn">Подробнее</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>